.control {
  font-family: sans-serif;
  background-color: hsl(142 100% 90%);
  color: hsl(142 82% 15%);
  border-radius: 1rem;
  padding: .5rem 1rem;
  box-shadow: 0 2rem 1.5rem -1rem hsla(0, 0%, 0%, 15%);

  & > h2 {
    text-decoration: underline;
    text-decoration-color: hsl(142 82% 45%);
  }

  & > p:not(:first-of-type):not(:last-of-type) {
    text-decoration: underline;
    text-decoration-color: hsl(142 82% 45%);
  }
  
  & > p:last-child {
    text-transform: uppercase;
  }
}