@import 'css/body.css';
@import 'css/control.css';

:root {
  --darkest-grey:   hsl(0,0%,2%);
  --darker-grey:    hsl(0,0%,5%);
  --dark-grey:      hsl(0,0%,20%);
  --grey:           hsl(0,0%,50%);
  --light-grey:     hsl(0,0%,60%);
  --lighter-grey:   hsl(0,0%,80%);
  --lightest-grey:  hsl(0,0%,92%);
}
